@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-display: block;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-display: block;
	font-style: italic;
	font-named-instance: 'Italic';
	src: url('/fonts/Inter-italic.var.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
	min-height: 100%;
}

* {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-webkit-user-drag: none;
	-webkit-app-region: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none;
}

*::-webkit-scrollbar-thumb {
	display: none;
}

html {
	display: block;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--scrollTextPercentage: 0%;
}

.NavBar {
	position: -webkit-sticky;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	bottom: auto;
	-webkit-font-smoothing: antialiased;
	z-index: 400000000;
}

.ThemeSlider-Label input {
	opacity: 0;
	width: 0;
	height: 0;
}

.ThemeSlider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	width: inherit;
	height: 2rem;
	background-color: #505054b1;
	transition: 0.4s;
}

.ThemeSlider:before {
	position: absolute;
	content: "";
	height: 100%;
	width: 43%;
	left: -4px;
	bottom: 0px;
	background-color: #eee;
	transition: 0.4s;
	font-size: 10px;
}

input:checked + .ThemeSlider {
	background-color: #0c0c0db1;
  }

  input:checked + .ThemeSlider:before {
	content: "";
	transform: translateX(50px);
  }

  .ThemeSlider.SliderRound {
	border-radius: 34px;
  }
  .ThemeSlider.SliderRound:before {
	border-radius: 50%;
  }
